* {
	margin: 0;
	padding: 0;
	box-sizing: border-box; 
	font-family: "Roboto", sans-serif; 
	font-size: 20px; 
  }
  
  
  header nav {
	background-color: rgba(0, 0, 0, 0.8); 
  }
  
  
  nav ul {
	width: 65%; 
	height: 44px; 
	list-style: none; 
	display: flex; /* Es un contenedor flex */
	justify-content: space-between; /* Espacio automático
									   entre los elementos de la lista */
	align-items: center; /* Centrado de sus elementos en altura */
  }
  
  nav ul li {
	height: 44px; /* Tiene la altura de la barra */
	line-height: 44px;
	overflow: hidden; /* Oculta lo que se salga de esa altura */
	padding: auto;
  }
  
  
  nav ul li a img {
	width: 18px; 
  }
  
  
  header nav ul {
	margin: 0 auto;
  }
  

  header nav ul li a {
	text-decoration: none; 
	color: lightgrey;
  }
  
  
  footer nav ul li a {
	text-decoration: none; 
	color: slategrey; 
	padding: auto;
  }
  
  
  header nav ul li a:hover {
	color: white; /* el enlace cambiará su color de gris a blanco */
  }
  
  
  footer nav ul li a:hover {
	color: black; /* el enlace cambiará su color de gris a negro */
  }
  
  
  .vertical-block {
	display: flex; 
	flex-direction: column; 
	text-align: center; 
	justify-content: space-between;
  }
  
  
  .horizontal-block {
	display: flex; 
	flex-direction: row; 
	text-align: center; 
	justify-content: space-around; 
	margin: 3rem 0; 
  }
  
  /* Contenido de la pagina */
  
  .page-content {
	width: 90%; 
	margin: 1% auto 2% auto;
  }
  

  
  .responsive-img {
	max-width: 100%;
  }
  
  
  .block-line {
	margin: 0.7rem 0; 
  }
  
  
  .blue-button {
	background-color: rgb(0, 113, 227);
	color: white; 
	text-align: center;
	border: none; 
	outline: none; 
	border-radius: 25px; 
  }
  
  
  .bold {
	font-weight: bold;
  }
  
  
  .title-one {
	font-size: 3rem;
  }
  
  
  .title-two {
	font-size: 2rem;
	padding: 0 3rem;
  }

  .title-three {
	  font-size: 2rem;
  }

  .title-four {
	  font-size: 5rem;
  }

  .title-five {
	  font-size: 3rem;
  }
  
  
  .orange {
	color: orange;
  }
  
  
  .blue-link {
	text-decoration: none; 
	color: rgb(0, 113, 227);
  }
  
  /*----------------------------------------------------------------*/
  
  /* SECCION DE MACBOOK */
  
  
  .macbook {
	width: 100%;
	margin: 20px;
  }
  
  /* Padding para el botón de compras */
  
  .buy-button {
	padding: 5px 15px;
  }
  
  /*----------------------------------------------------------------*/
  
  /* SECCION DE ACCESORIOS Y TRADE IN */
  

  .accesories-tradein {
	width: 100%;
  } 
  
  .accesories,
  .tradein {
	width: 48%;
	background-color: rgba(242, 242, 242);
  }
  
  
  .see-button {
	padding: 5px 25px;
  }
  
  /*----------------------------------------------------------------*/
  
  /* FOOTER */
  
  
  footer {
	background-color: rgba(245, 245, 247);
  }
  
  
  .footer-content {
	width: 90%;
	margin: 0px auto;
	padding: 10px;
  }

  
  footer a {
	font-size: 0.8rem;
  }
  
  
  .copyright {
	font-size: 0.6rem;
	font-weight: bold;
	color: rgb(197, 192, 192)
  }

  /* Multiusos */

  .margin-bottom {
	  margin-bottom: 8%;
  }

  .margin-top {
	  margin-top: 5%;
  }

  .padding {
	  padding: 0 24% 0 24%;
  }

  .padding1 {
	  padding: 0 15% 0 15%;
  }
  